<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pujoy.charminder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> 
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pujoy.charminder.MainActivity"
            android:label="@string/app_name" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
            <activity
        android:name="com.pujoy.charminder.Timer1"
        android:label="@string/title_timer1"
        android:parentActivityName="com.pujoy.charminder.MainActivity" android:launchMode="singleTask">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.MainActivity" />
    </activity>
    
            <activity
        android:name="com.pujoy.charminder.Timer2"
        android:label="@string/title_timer2"
        android:parentActivityName="com.pujoy.charminder.MainActivity" android:launchMode="singleTask">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.MainActivity" />
    </activity>
    
            <activity
        android:name="com.pujoy.charminder.Timer3"
        android:label="@string/title_timer3"
        android:parentActivityName="com.pujoy.charminder.MainActivity" android:launchMode="singleTask">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.MainActivity" />
    </activity>
    
            <activity
        android:name="com.pujoy.charminder.Timer4"
        android:label="@string/title_timer4"
        android:parentActivityName="com.pujoy.charminder.MainActivity" android:launchMode="singleTask">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.MainActivity" />
    </activity>
    

    
             <activity
        android:name="com.pujoy.charminder.RemindersList"
        android:label="@string/reminder_list"
        android:parentActivityName="com.pujoy.charminder.MainActivity" android:launchMode="singleTask">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.MainActivity" />
    </activity>
    
    <activity
        android:name="com.pujoy.charminder.Settings"
        android:label="@string/settings"
        android:parentActivityName="com.pujoy.charminder.MainActivity" android:launchMode="singleTask">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.MainActivity" />
    </activity>
    
    <activity
        android:name="com.pujoy.charminder.RemindingLevel"
        android:label="@string/setting_level1"
        android:parentActivityName="com.pujoy.charminder.Settings" android:launchMode="singleTask">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.Settings" />
    </activity>
    
    <activity
        android:name="com.pujoy.charminder.BringToFront"
        android:parentActivityName="com.pujoy.charminder.MainActivity" android:launchMode="singleInstance">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.MainActivity" />
    </activity>
    <activity
        android:name="com.pujoy.charminder.WakeUp"
        android:parentActivityName="com.pujoy.charminder.MainActivity" android:launchMode="singleInstance">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.pujoy.charminder.MainActivity" />
    </activity>
    
    </application>

</manifest>
